.backgroundHome {
    background: url('./Components/Photos/santorini.jpg');
    min-height: 65pc;
    font-family: 'Bitter', serif;
    color: black;
    background-repeat: no-repeat;
    background-size: 100% 80%
}

.backgroundReviews {
    background: url('./Components/Photos/bike.jpg');
    min-height: 65pc;
    font-family: 'Bitter', serif;
    color: #A9907E;
    background-repeat: no-repeat;
    background-size: 125%;
}

.backgroundAbout{
    background: linear-gradient(180deg, rgba(107,160,231,1) 40%, rgba(44,92,182,1) 73%);
    min-height: 65pc;
    font-family: 'Bitter', serif;
    color: black;
}

.backgroundTrip{
    background: url('./Components/Photos/maps.jpg');
    min-height: 65pc;
    font-family: 'Bitter', serif;
    color: #27374D;
}

.backgroundCities{
    background: url('./Components/Photos/foggycity.jpg');
    min-height: 65pc;
    font-family: 'Bitter', serif;
    color: #27374D;
}

.backgroundAttractions{
    background: url('./Components/Photos/cityMarket.jpg');
    min-height: 65pc;
    font-family: 'Bitter', serif;
    color: #27374D;
}

.sort-dropdownAttractions{
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 8px 16px; /* Adjust padding as needed */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border-radius for rounded corners */
    font-size: 14px; /* Adjust font size as needed */
    margin-left: 8px; /* Add margin as needed */
  }

  .sort-dropdownReviews{
    background-color: #dfae45; /* Blue background color */
    color: #fff; /* White text color */
    padding: 8px 16px; /* Adjust padding as needed */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border-radius for rounded corners */
    font-size: 14px; /* Adjust font size as needed */
    margin-left: 8px; /* Add margin as needed */
  }

  .sort-dropdownCities{
    background-color: #116a70; /* Blue background color */
    color: #fff; /* White text color */
    padding: 8px 16px; /* Adjust padding as needed */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border-radius for rounded corners */
    font-size: 14px; /* Adjust font size as needed */
    margin-left: 8px; /* Add margin as needed */
  }
  

